# Scraping Twitter for Corporate Espionage
## (Using Webscraping, Facial Recognition and ML)

![headline](headline.png "Twitter Project")

In [1]:
#CREATE COLOR NUMBERS COLUMN

from IPython.display import Image, display
import urllib.request
from PIL import Image as img
import pandas as pd

df = pd.read_excel('twitter_followers_detailed.xlsx')
print('got df')
n = 0
for imageName in list(df["profile_image_url"]):
    try:
        urllib.request.urlretrieve(imageName, '/ml/out.png')
        colors = len(img.open("ml/out.png",mode="r").getcolors(maxcolors=9999999))
        df.at[n,"color_number"] = colors    
    except:
        df.at[n,"color_number"] = 0.01
    n+=1
    print(n)

got df

In [4]:
#Create Face Detection Column
import os
try:
    os.mkdir("ml")
except:
    print("folder already exists...")
    
import face_recognition

n = 0
for i in list(df["profile_image_url"]):
    try:
        urllib.request.urlretrieve(i, r'ml/out.png')
        detection = face_recognition.load_image_file("ml/out.png")
        if face_recognition.face_locations(detection):
            df.at[n,"face_detection"] = 1
        else:
            df.at[n,"face_detection"] = 0
    except:
        df.at[n,"face_detection"] = 999
    n+=1

In [2]:
#Get rid of photos that did not connect and default photos
df = df[df.face_detection !=999.0]
df = df[df.color_number != 184]

In [3]:
#URL Detect Column
array = []
for i in list(df["url"]):
    if str(i) != "nan":
        array.append(1)
    else:
        array.append(0)
df["url_detect"] = array

![headline](profile.png "profile")

In [4]:
#output people labeled individuals to a csv/ then convert it to text for NLTK analysis
final = df

i_bios = final[final.label == "Individual"][['bio']]
i_bios.to_csv('i_bios.csv')

import csv
csv_file = (r'i_bios.csv')
txt_file = (r'i_bios.txt')
with open(txt_file, "w") as my_output_file:
    with open(csv_file, "r") as my_input_file:
        [ my_output_file.write(" ".join(row)+'\n') for row in csv.reader(my_input_file)]
    my_output_file.close()

In [5]:
#keywords function takes a filename, "grams" an integer meaning
#1-2- or 3 word n-grams and minimum count or appearances of the word or phrase

def keywords(file,grams,count):
    with open(str(file),'r',encoding="latin1") as myfile:
        my_string=myfile.read().replace('\n', '')

    string = ''.join(ch for ch in my_string if ch not in exclude)

    tokens = word_tokenize(string)
    text = nltk.Text(tokens)

    #array is the tuple of ngrams, array2 is the count of appearances, array1 is joined tuples, array 1 & 2 can be zipped into a dataframe
    array =[]
    array2 =[]
    bgs = nltk.ngrams(tokens,int(grams))
    fdist = nltk.FreqDist(bgs)
    for k,v in fdist.items():
        if v > int(count):
            array.append(k)
            array2.append(v)

    array1 = []
    for i in range(len(array)):
        x = ' '.join(map(str,array[i]))
        array1.append(x)

    df = pd.DataFrame({'phrase':array1,'count': array2}).sort_values(by="count",ascending=False)
    for i in list(df['phrase']):
        whitelist.append(i.lower())
    df.to_csv('output_'+str(grams)+'.csv')

In [6]:
#import our dependancies, create empty whitelist array
#exclude includes ,$"@_[*|%)#+-<~^/;`=!:'&?}>({]\. (things to filter out)

import nltk
import string
from nltk import word_tokenize
import pandas as pd

whitelist = []
exclude = set(string.punctuation)

In [7]:
#get 1grams, appearing more than 30 times,bigrams more than 20,
#and trigrams more than 10 times from the individuals bios
keywords('i_bios.txt',1,30)
keywords('i_bios.txt',2,20)
keywords('i_bios.txt',3,10)

In [8]:
#remove stopwords from the individuals keywords array
from nltk.corpus import stopwords

new_whitelist = []

stop = list(set(stopwords.words('english')))
additional_stop = ["business"]
stop += additional_stop
safewords = ["I"]
stop = [i for i in stop if i not in safewords]

for i in whitelist:
    try:
        if (i.split(" ")[0] not in stop) & (i.split(" ")[1] not in stop):
            new_whitelist.append(i)
    except:
        if i not in stop:
            new_whitelist.append(i)
        pass

In [9]:
#remove dupes, filter non-alpha keywords and save it to individual_keywords variable
new_whitelist = list(set(new_whitelist))

for i in range(len(new_whitelist)):
    try:
        if new_whitelist[i].split(" ")[0].isalpha() == False:
            new_whitelist.pop(i)
    except:
        pass
    
individual_keywords = new_whitelist

![headline](individual_keywords.png "Individual Keywords")

In [10]:
#reset our variables and do all the same for business keywords
new_whitelist = []
whitelist = []

In [11]:
b_bios = final[final.label == "Business"][["bio"]]
b_bios.to_csv('b_bios.csv')
csv_file = (r'b_bios.csv')
txt_file = (r'b_bios.txt')
with open(txt_file, "w") as my_output_file:
    with open(csv_file, "r") as my_input_file:
        [ my_output_file.write(" ".join(row)+'\n') for row in csv.reader(my_input_file)]
    my_output_file.close()

In [12]:
keywords('b_bios.txt',1,30)
keywords('b_bios.txt',2,20)
keywords('b_bios.txt',3,10)

In [13]:
stop = list(set(stopwords.words('english')))
additional_stop = ["business","us"]
stop += additional_stop
safewords = ["I"]
stop = [i for i in stop if i not in safewords]

for i in whitelist:
    try:
        if (i.split(" ")[0] not in stop) & (i.split(" ")[1] not in stop):
            new_whitelist.append(i)
    except:
        if i not in stop:
            new_whitelist.append(i)
        pass
    
new_whitelist = list(set(new_whitelist))

# filter non-alpha stuff
for i in range(len(new_whitelist)):
    if new_whitelist[i].split(" ")[0].isalpha() == False:
        new_whitelist.pop(i)
        
business_keywords = new_whitelist

![headline](business_keywords.png "Individual Keywords")

In [14]:
business_keywords

['platform',
 'online',
 'services',
 'small',
 'financial',
 'capital',
 'lending',
 'company',
 'provide',
 'funding',
 'help',
 'loans',
 'small businesses',
 'solutions',
 'finance',
 'businesses']

In [15]:
individual_keywords

['husband',
 'financial',
 'capital',
 'investor',
 'husband father',
 'ceo',
 'marketing',
 'cofounder',
 'father',
 'founder ceo',
 'fintech',
 'entrepreneur',
 'founder']

In [20]:
# Create keyword counter columns for individual keywords, and business keywords
i_nums = []
for x in range(len(final)):
    test = list(final["bio"])[x]
    n = 0
    try:
        for i in individual_keywords:
            if i in test:
                n+=1
        i_nums.append(n)
    except:
        i_nums.append(0)

In [21]:
b_nums = []
for x in range(len(final)):
    test = list(final["bio"])[x]
    n = 0
    try:
        for i in business_keywords:
            if i in test:
                n+=1
        b_nums.append(n)
    except:
        b_nums.append(0)

In [22]:
final["b_key_count"] = b_nums
final["i_key_count"] = i_nums

In [23]:
final[["bio","b_key_count","i_key_count"]].sort_values(by="b_key_count",ascending=False).head(40)

,bio,b_key_count,i_key_count
1535,We provide working capital solutions to small ...,7,1
2170,"LendVantage helps small businesses find loans,...",7,1
2267,Global Lending is committed to helping small b...,6,0
1698,#Onlinelending company empowering #smallbusine...,6,1
2204,"Argentum Capital Group, LLC is a finance compa...",6,0
824,We specialise in business loans for small busi...,5,0
742,We provide small businesses with quick and eas...,5,0
1324,AMP Advance is a Miami based industry leading ...,5,0
2117,Fundingportal is a funding services and soluti...,5,0
1778,Arrington Accounting Srvcs provides experience...,5,0
1091,"We are here to educate, empower and enable sma...",5,1
1540,We support alternative finance companies that ...,5,1
922,Your full service lender for small business lo...,5,0
2074,Legend Funding is comprised of financial exper...,5,1
1210,"Business Funding Relations is not a bank, it i...",5,1
1187,Our innovative online credit solutions provide...,5,1
2410,"Oxygen Funding, Inc. is an invoice factoring ...",5,0
1515,We help small-to-enterprise level businesses g...,5,0
1904,SeedInvest is a leading equity crowdfunding pl...,5,1
1905,Invoice your customer √¢‚Ç¨¬¢ Fund invoice √¢‚...,5,0
1498,Website helping small businesses find the perf...,5,0
263,"We provide simple, accurate & affordable #payr...",5,0
845,Cloud-based provider of human capital manageme...,5,1
1494,Arcarius provides short-term working capital a...,5,1
1652,PrestaCap is an innovative financing platform ...,4,0
1727,"Acquiring small businesses, commercializing ne...",4,1
913,"We're a business finance company. Since 2011, ...",4,0
1737,We are specialists in helping insurers and fin...,4,1
1544,India's leading #smallbusiness #digital #lendi...,4,1
747,We are transforming how small businesses acces...,4,1
735,#MCAleads World Solutions is a international o...,4,0
1874,We help small businesses access fast cash with...,4,0
1394,We are a company dedicated to find term loans ...,4,0
1072,"The Strategic Hub, Inc. is a boutique firm tha...",4,0
2162,Funding Tower provides immediate business loan...,4,0
2142,Providing America with job opportunity and ass...,4,0
862,"Lendified provides fast, easy, and affordable ...",4,0
1933,"Since 1989, MIAC has been the leading provider...",4,1
1343,#FinTech company provides investment professio...,4,0
1523,Leading news source for all things alternative...,4,0

In [24]:
final[["bio","b_key_count","i_key_count"]].sort_values(by="i_key_count",ascending=False).head(40)

,bio,b_key_count,i_key_count
2148,"father of 4, husband, outdoor guy, entrepreneu...",1,4
2242,"Lifetime entrepreneur, serial founder and inve...",0,4
1478,"David lives in Brooklyn & is a husband, father...",0,4
406,"We√¢‚Ç¨‚Ñ¢re mutifaceted entrepreneurs, financ...",2,3
1912,CEO & Founder of ConveyIQ (http://www.conveyiq...,1,3
2131,British/Canadian in London. Co-founder of @SAS...,0,3
1687,"Venture investor, fintech afficionado, feminis...",0,3
2130,Cofounder & CEO of @P2Binvestor a crowdlending...,3,3
1292,Strategic marketing communications specialist ...,2,3
2188,"Manager, Media Sales @expedia / marketing pro ...",0,3
1895,husband father and grandfather,0,3
1549,"ex-ceo & co-founder suit guy@georgeandking, bu...",0,3
1926,"Co-founder of Neyber @helloneyber, Trustee @St...",1,3
2241,Digital marketing manager at @TransparentBPO; ...,0,3
2524,"CEO of OnDeck, husband, father, entrepreneur, ...",0,3
2011,@drtharon smith: economist entrepreneur focuse...,1,3
1969,"CEO of BridgePoint Capital, husband, father, e...",0,3
2109,"Father, husband, entrepreneur and investor. Mo...",0,3
1219,Founder of Beyond Payment Systems and Merchant...,0,2
744,The only direct real estate investment platfor...,2,2
2269,Co-Founder @Logic_FI. 2x #fintech entrepreneur...,1,2
1550,CEO & Co-Founder of @FundingWizards - a market...,3,2
2447,"Founder/CEO of Bizignition & SIPN, entrepreneu...",0,2
2155,"CFO @VOLOCOPTER, 9ys father, 19ys entrepreneur...",0,2
2254,We are #FinTech thought leaders connecting inn...,2,2
1602,#FinTech Co-founder at @banknovo. Passionate a...,1,2
1996,"marketer, experience seeker, skier/biker/hiker...",0,2
2000,"Wayfarer, husband, father, CEO, actor, playwri...",0,2
2081,"Business owner, husband, father, world travell...",0,2
2311,"Business owner, Chargers fanatic, husband, and...",0,2
1741,Fintech entrepreneur and SME enthusiast. CEO a...,0,2
782,"Dad, husband, CEO and founder of @lendingworks",1,2
2461,teacher √¢‚Ç¨¬¢life coach √¢‚Ç¨¬¢ photographer...,0,2
1475,I enjoy all things about #branding #marketing....,0,2
1931,"father,Husband,Entrepreneur, and Realestate in...",0,2
733,"Marketplace lending entrepreneur, industry obs...",1,2
2285,"husband, father, brother, friend",0,2
1965,"Lucky husband & father of three, runner, and a...",0,2
278,"#Smallbiz, #equipmentfinance, #entrepreneur #t...",1,2
2405,Your daily decisions determine your direction ...,0,2

In [25]:
final.to_csv('final_output.csv',encoding="UTF-8")